<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="jumbotron" style="background:black !important">
      <div class="container">
        <h1 style="color:white !important">Word Counter</h1><h1 style="color:white !important"><small> Find all occurances of a word in a sentence.</small></h1>
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
