@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="result">
    <h3>@Model.GetMatchrWord() was found @Model.GetWordCount() time(s).</h3>

    <h2><a href="/" class="btn btn-success">Search another sentence</a></h2>
  </div>
